<div class="bundle-card-line-container{% if extra.page is defined %} page-{{ extra.page }}{% endif %}">
    <div class="bundle-card-line">
        <div class="bundle-card-line-data">
            <div class="bundle-card-line-information">
                <h1>{{ ez_field_value(content, 'bundle_id') }}</h1>
                <div class="bundle-card-line-description">
                    {{ ez_render_field(content, 'description') }}
                </div>
            </div>
            <div class="bundle-card-line-counters">
                <ul>
                    <li class="downloads"><i class="fa fa-cloud-download" aria-hidden="true"></i> 17265</li>
                    <li class="stars"><i class="fa fa-star" aria-hidden="true"></i> 6</li>
                    <li class="forks"><i class="fa fa-code-fork" aria-hidden="true"></i> 16</li>
                    {% if packageDetails.updated is defined %}
                        <li class="updated"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ packageDetails.updated|date("d / m / Y") }}</li>
                    {% endif %}
                </ul>
            </div>
            <div class="bundle-card-line-authors">
                <div class="bundle-card-line-owner">
                    <span>Owner:</span>
                    {% if packageDetails.authorAvatarUrl is defined and packageDetails.author[0].name is defined %}
                        <div class="bundle-card-line-owner-photo">
                            <img src="{{ packageDetails.authorAvatarUrl }}?s=100" alt="{{ packageDetails.author[0].name }}" />
                        </div>
                    {% endif %}
                    {% if packageDetails.author[0] is defined %}
                        <div class="bundle-card-line-owner-name">{{ packageDetails.author[0].name }}</div>
                    {% endif %}
                </div>
                {% if packageDetails.maintainers is defined %}
                <div class="bundle-card-line-maintainers">
                    <span>Maintainers:</span>
                    {% for maintainer in packageDetails.maintainers|slice(0, 4) %}
                        <div class="bundle-card-line-maintainer">
                            <div class="bundle-card-line-maintainer-photo">
                                <img src="{{ maintainer.avatarUrl }}&amp;s=40" />
                            </div>
                            <div class="bundle-card-line-maintainer-username">{{ maintainer.name }}</div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="bundle-card-line-href">
            <a href="https://packagist.org/packages/{{ ez_field_value(content, 'bundle_id') }}" title="See on Packagist.org"><i class="fa fa-angle-right fa-3" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
