{% extends 'pagelayout.html.twig' %}

{% block content %}
    <section class="bundles-list">
        <div class="bundles-list-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ ez_render_field(content, 'name') }}</h1>
                        <h2>{{ ez_render_field(content, 'description') }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="bundles-list-content">
            <div class="container">
                <div class="hidden-xs hidden-sm col-md-2 bundle-list-settings">
                    <h2>Categories</h2>
                    <ul class="bundle-list-settings-list">
                        <li class="active"><a href="#">All Bundles</a></li>
                        <li><a href="#">Content Type</a></li>
                        <li><a href="#">Field Type</a></li>
                        <li><a href="#">Theme</a></li>
                        <li><a href="#">Social</a></li>
                        <li><a href="#">e-Commerce</a></li>
                        <li><a href="#">Administration</a></li>
                        <li><a href="#">Workflow</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-10 bundles-list-container">
                    <div class="row">
                        <div class="col-xs-12 col-md-9">
                            <h2>All Bundles</h2>
                        </div>
                        <div class="col-xs-12 col-md-3 sort-container">
                            {{ form_start(form) }}
                            <div class="form-group {% if not form.order.vars.valid %}has-error{% endif %}">
                                {{  form_row(form.order) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                {% include 'parts/bundle_list/list.html.twig' with {
                    'items': items,
                    'viewType': 'line',
                    'extraParams': {
                        'page': 1
                    }
                } %}
                </div>
                <div class="row">
                    <div class="button-load-more col-xs-12 col-md-6 col-md-offset-3">
                        {% if extraParams.totalCount > items|length %}
                            <button class="load-more" data-url="/ezplatform/bundles/load/page" data-page="2" data-target=".bundles-list-container">Load more</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
